---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import { getIcon } from "../../lib/getIcon";
import { validateCategory } from "../../lib/validateCategory";
import { getCollection } from "astro:content";
import { sortPostsByDate } from "../../lib/sortPostsByDate";
import Article from "../../components/Article.astro";

const { category } = Astro.params;

if (!category) {
  throw new Error("Category not provided");
}

const [categoryName, error] = validateCategory(category);

if (!categoryName) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const icon = getIcon(categoryName);

const articles = await getCollection("blog", ({ data }) => {
  return data.category.toLowerCase().includes(category.toLowerCase());
});

const sortedArticles = sortPostsByDate(articles);
---

<Layout>
  <div class="section-padding pt-11 pb-20">
    <div class="flex gap-3">
      <Icon name={icon} size={36} class="shrink-0" />

      <h1 class="subtitle pb-0">{categoryName}</h1>
    </div>

    <main class="articles-grid">
      {
        sortedArticles.map(({ data, slug }) => (
          <Article
            title={data.title}
            date={data.date}
            category={data.category}
            description={data.description}
            slug={slug}
          />
        ))
      }
    </main>
  </div>
</Layout>
