---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { stringToDate } from "../../lib/stringToDate";
import { Icon } from "astro-icon/components";
import { getIcon } from "../../lib/getIcon";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { id: post.id.replace(/\.md$/, "") },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const parsedDate = stringToDate(post.data.date).toLocaleDateString("es-MX", {
  day: "2-digit",
  month: "long",
  year: "numeric",
});

const icon = getIcon(post.data.category);
---

<Layout title={post.data.title}>
  <div class="max-w-screen-lg px-4 pt-12 pb-20 mx-auto">
    <div class="flex justify-between items-start mb-2.5 gap-2.5">
      <div>
        <h1 class="text-cyan-300 text-2xl font-bold mb-1">{post.data.title}</h1>

        <p class="text-cyan-300/80 font-medium">
          <time datetime={parsedDate}>{parsedDate}</time>
          - Luis Cervantes
        </p>
      </div>

      <Icon name={icon} size={55} class="shrink-0" />
    </div>

    <hr class="border-cyan-300 mb-7" />

    <main class="content-container">
      <Content />
    </main>

    <!-- TODO: Add related articles -->
  </div>
</Layout>
