---
import { getCollection } from "astro:content";
import type { CollectionKey } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Article from "../../components/Article.astro";
import { handleSearchParams } from "../../lib/handleSearchParams";

const search = Astro.url.searchParams.get("q");

const posts = await getCollection("blog", (data: CollectionKey) =>
  handleSearchParams(data, search),
);
---

<Layout>
  <div
    class="grid px-4 grid-cols-1 sm:grid-cols-2 md:px-5 md:grid-cols-3 gap-7 pt-11 pb-20"
  >
    {
      posts.map(({ data, slug }: CollectionKey) => (
        <Article
          title={data.title}
          date={data.date}
          category={data.category}
          description={data.description}
          slug={slug}
        />
      ))
    }
  </div>
</Layout>
