---
import { Icon } from "astro-icon/components";
import { getIcon, type TechCategory } from "../lib/getIcon";

interface Props {
  title: string;
  date: Date;
  description: string;
  category: TechCategory;
}

const { title, date, description, category } = Astro.props;

const icon = getIcon(category);

const parsedDate = date.toLocaleDateString("es-MX", { dateStyle: "short" });
---

<article class="border border-cyan-300 rounded-lg p-6">
  <header>
    <div class="flex items-top justify-between gap-2 mb-2">
      <h3 class="text-cyan-300 font-semibold text-2xl">
        {title}
      </h3>

      <Icon name={icon} size={36} class="shrink-0" />
    </div>

    <div class="flex items-center gap-2 text-cyan-300/60">
      <Icon name="proicons:calendar" width="24" height="24" />
      <time datetime={parsedDate}>{parsedDate}</time>
    </div>
  </header>

  <p class="my-6">{description}</p>

  <button
    class="flex gap-2.5 bg-cyan-300 text-blue-950 px-4 py-2 rounded-lg transition hover:bg-cyan-300/80"
    ><Icon name="ion:book-outline" width="24" height="24" />
    <span>Leer más</span></button
  >
</article>
