---
import { Icon } from "astro-icon/components";
import type { TechCategory } from "../categories";
import { getIcon } from "../lib/getIcon";
import { getCollection } from "astro:content";
import { sortPostsByDate } from "../lib/sortPostsByDate";

interface Props {
  category: TechCategory;
}

const { category } = Astro.props;

const icon = getIcon(category);

const articles = await getCollection("blog", ({ data }) => {
  return data.category.toLowerCase().includes(category.toLowerCase());
});

const latestArticles = sortPostsByDate(articles).slice(0, 2);
---

<article
  class="flex flex-col justify-between border border-cyan-300 rounded-lg p-6"
>
  <div>
    <header class="flex gap-3 items-center justify-start mb-6">
      <Icon name={icon} size={36} class="shrink-0" />

      <h2 class="text-cyan-300 text-2xl font-semibold">{category}</h2>
    </header>

    <div class="flex flex-col gap-3 mb-6">
      {
        latestArticles.map(({ data }) => (
          <div>
            <h3 class="text-cyan-300 font-semibold">{data.title}</h3>
            <p class="text-sm">{data.description}</p>
          </div>
        ))
      }
    </div>
  </div>

  <a
    href=`/categorias/${category.toLowerCase()}`
    class="primary-btn flex gap-2.5 justify-center items-center text-sm font-medium"
  >
    Ver todos los artículos <Icon name="gravity-ui:arrow-right" size={18} /></a
  >
</article>
